<section id="multiple-column-form">
  <div class="row match-height">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title text-center" > Configurer les Paramètres de l'Application'</h4>
        </div>

        <div class="card-content">
          <div class="card-body">

            <form action=""  method="post">


              <div class="row">
                <!-- Champ pour le serveur SMTP -->
                <div class="col-md-12 col-12">
                  <div class="form-group">
                    <label for="smtpServer">Serveur SMTP</label>
                    <input type="text" id="smtpServer" class="form-control" placeholder="Serveur SMTP" required>
                  </div>
                </div>

                <!-- Champ pour le port SMTP -->
                <div class="col-md-12 col-12">
                  <div class="form-group">
                    <label for="smtpPort">Port SMTP</label>
                    <input type="number" id="smtpPort" class="form-control"   placeholder="Port SMTP" required>
                  </div>
                </div>

                <!-- Champ pour le nom d'utilisateur SMTP -->
                <div class="col-md-12 col-12">
                  <div class="form-group">
                    <label for="smtpUsername">Nom d'utilisateur SMTP</label>
                    <input type="text" id="smtpUsername" class="form-control"  placeholder="Nom d'utilisateur SMTP" required>
                  </div>
                </div>

                <!-- Champ pour le mot de passe SMTP -->
                <div class="col-md-12 col-12">
                  <div class="form-group">
                    <label for="smtpPassword">Mot de passe SMTP</label>
                    <input type="password" id="smtpPassword" class="form-control"   placeholder="Mot de passe SMTP" required>
                  </div>
                </div>

                <!-- Boutons d'action -->
                <div class="col-12 d-flex justify-content-center mt-4">
                  <button type="submit" class="btn btn-primary ml-4" style="width: 40%;font-size: 18px">Enregistrer</button>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
