<div class="form-container">
  <h1 class="form-title">{{ teacherId ? 'Modifier un Professeur' : 'Ajouter un Professeur' }}</h1>
  <form [formGroup]="teacherForm" (ngSubmit)="saveTeacher()">
    <p class="text-subtitle text-muted">
      Remplissez les informations ci-dessous pour {{ teacherId ? 'modifier' : 'ajouter' }} un professeur. Veuillez vérifier toutes les données avant de les soumettre.
    </p>

    <div *ngIf="successMessage" class="alert alert-success">
      {{ successMessage }}
    </div>

    <div class="row">
      <!-- Champ pour le prénom -->
      <div class="col-md-6 col-12">
        <div class="form-group">
          <label for="firstName">Prénom</label>
          <input type="text" id="firstName" class="form-control" formControlName="firstName" required placeholder="Prénom">
          <strong *ngIf="isInvalidInput(teacherForm.controls['firstName'])" class="text-danger">Veuillez entrer un prénom.</strong>
        </div>
      </div>

      <!-- Champ pour le nom -->
      <div class="col-md-6 col-12">
        <div class="form-group">
          <label for="lastName">Nom</label>
          <input type="text" id="lastName" class="form-control" formControlName="lastName" required placeholder="Nom">
          <strong *ngIf="isInvalidInput(teacherForm.controls['lastName'])" class="text-danger">Veuillez entrer un nom.</strong>
        </div>
      </div>

      <!-- Champ pour le choix du genre -->
      <div class="col-md-6 col-12">
        <div class="form-group">
          <label for="gender">Genre</label>
          <select id="gender" formControlName="gender" class="form-control" required>
            <option value="" disabled selected>Choisir...</option>
            <option value="MAN">Homme</option>
            <option value="WOMAN">Femme</option>
            <option value="OTHER">Autre</option>
          </select>
          <strong *ngIf="isInvalidInput(teacherForm.controls['gender'])" class="text-danger">Veuillez choisir un genre.</strong>
        </div>
      </div>

      <!-- Champ pour la date de naissance -->
      <div class="col-md-6 col-12">
        <div class="form-group">
          <label for="dateOfBirth">Date de Naissance</label>
          <input type="date" id="dateOfBirth" class="form-control" formControlName="dateOfBirth" required>
          <strong *ngIf="isInvalidInput(teacherForm.controls['dateOfBirth'])" class="text-danger">Veuillez entrer une date de naissance.</strong>
        </div>
      </div>

      <!-- Champ pour le téléphone -->
      <div class="col-md-6 col-12">
        <div class="form-group">
          <label for="numbers">Téléphone</label>
          <input type="text" id="numbers" class="form-control" formControlName="numbers" required placeholder="Téléphone">
          <strong *ngIf="isInvalidInput(teacherForm.controls['numbers'])" class="text-danger">Veuillez entrer un numéro de téléphone.</strong>
        </div>
      </div>

      <!-- Champ pour le choix de disponibilité -->
      <div class="col-md-6 col-12">
        <div class="form-group">
          <label>Disponible</label>
          <div class="d-flex align-items-center">
            <div class="custom-control custom-radio m-3">
              <input type="radio" id="availableYes" class="custom-control-input" formControlName="available" [value]="true">
              <label class="custom-control-label" for="availableYes">Oui</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" id="availableNo" class="custom-control-input" formControlName="available" [value]="false">
              <label class="custom-control-label" for="availableNo">Non</label>
            </div>
          </div>
          <strong *ngIf="isInvalidInput(teacherForm.controls['available'])" class="text-danger">Veuillez choisir une option.</strong>
        </div>
      </div>

      <!-- Groupe Adresse -->
      <div formGroupName="address" class="col-12">
        <div class="form-group">
          <label for="country">Pays</label>
          <input type="text" id="country" class="form-control" formControlName="country" placeholder="Pays" />
          <div *ngIf="isInvalidInput(teacherForm.get('address.country'))" class="text-danger">Champ requis.</div>
        </div>

        <div class="form-group">
          <label for="city">Ville</label>
          <input type="text" id="city" class="form-control" formControlName="city" placeholder="Ville" />
          <div *ngIf="isInvalidInput(teacherForm.get('address.city'))" class="text-danger">Champ requis.</div>
        </div>

        <div class="form-group">
          <label for="street">Rue</label>
          <input type="text" id="street" class="form-control" formControlName="street" placeholder="Rue" />
          <div *ngIf="isInvalidInput(teacherForm.get('address.street'))" class="text-danger">Champ requis.</div>
        </div>
      </div>

      <!-- Champ pour la spécialité -->
      <div class="col-md-6 col-12">
        <div class="form-group">
          <label for="specialty">Spécialité</label>
          <input type="text" id="specialty" class="form-control" formControlName="specialty" required placeholder="Spécialité">
          <strong *ngIf="isInvalidInput(teacherForm.controls['specialty'])" class="text-danger">Veuillez entrer une spécialité.</strong>
        </div>
      </div>

      <div class="col-md-6 col-12">
        <div class="form-group">
          <label for="urlPicture">URL de l'image</label>
          <input type="text" id="urlPicture" class="form-control" formControlName="urlPicture" required placeholder="URL de l'image">
          <strong *ngIf="isInvalidInput(teacherForm.controls['urlPicture'])" class="text-danger">Veuillez entrer une URL d'image valide.</strong>
        </div>
      </div>
    </div>

    <div class="mt-4">
      <button type="submit" class="btn btn-primary" [disabled]="teacherForm.invalid">
        {{ teacherId ? 'Modifier' : 'Ajouter' }}
      </button>
    </div>
  </form>
</div>
