<div class="main-content container-fluid" >

  <div class="main-content container-fluid">
    <div class="page-title">

      <div class="row">


        <div class="col-12 col-md-6 order-md-1 order-last">
          <h3>Elève
            <i><img src="/assets/images/eleves.png" width="50"></i>
          </h3>
          <p class="text-subtitle text-muted">
            Cette page présente un tableau des élèves avec leurs informations détaillées, telles que le nom, le prénom, le genre, la classe, la matière, l'âge, le téléphone et la ville.
          </p>


        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
          <nav aria-label="breadcrumb" class='breadcrumb-header'>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="/student/add"  class="d-flex align-items-center">
                  <i data-feather="plus" class="icon-circle" width="35"></i>
                  <button type="submit" class="btn btn-primary btn-lg ml-2">Nouvel élève</button>
                </a>
              </li>
            </ol>

          </nav>
        </div>
      </div>
    </div>
    <section class="section">
      <div class="card">
        <div class="card-header">

          <!-- Formulaire de recherche -->
          <form  action="" method="get" class="mt-3" style="width: 70% ; display: flex">
            <input type="text" name="query" class="form-control" placeholder="Rechercher un élève... NOM , GENRE , MATRICULE " required style="width: 50% " >
            <select name="gender"  class="form-control"  style="width: 10%">
              <option value="MAN" >HOMME</option>
              <option value="WOMAN" >FEMME</option>
              <option value="OTHER" >AUTRE</option>
            </select>
            <button class="btn btn-outline-primary" type="submit">Rechercher</button>
          </form>

        </div>
        <div class="card-body">
          <table class='table table-striped' id="table1">
            <thead>
            <tr>
              <th>Prénom</th>
              <th>Nom</th>
              <th>Téléphone</th>
              <th>Téléphone Parent</th>
              <th>Genre</th>
              <th>Date de Naissance</th>
              <th>Matricule</th>
              <th>Adresse</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr >
              <td ></td>
              <td ></td>
              <td ></td>
              <td ></td>
              <td ></td>
              <td ></td>
              <td ></td>
              <td ></td>
              <td>
                <a routerLink="/student/add"   class="btn btn-warning btn-sm">Modifier</a>
                <a class="btn btn-danger btn-sm" onclick="confirmDelete(event, this)">Supprimer</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>


    <script>
      function confirmDelete(event, button) {
        event.preventDefault();
        var row = button.closest('tr');
        var name = row.querySelector('td').textContent;
        if (confirm('Voulez-vous supprimer cet élève ' + name + ' ?')) {
          window.location.href = button.href;
        } else {
          console.log('Suppression annulée');
        }
      }
    </script>


    <!-- Assurez-vous d'inclure Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  </div>

</div>
