<section id="multiple-column-form">
  <div class="row match-height">
    <div class="col-10">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title text-center" >School para</h4>
        </div>

        <div class="card-content">
          <div class="card-body">
            <form action="" method="post" class="w-75 py-5"  enctype="multipart/form-data">

              <input type="hidden" />

              <div class="row">
                <div class="col-md-12 col-12">
                  <div class="form-group">
                    <label for="name">Nom de l'école</label>
                    <input type="text" id="name"  class="form-control" placeholder="Nom de l'École" required>
                  </div>
                </div>

                <div class="col-md-12 col-12">
                  <div class="form-group">
                    <label for="urlLogo">Logo</label>
                    <input type="file" id="urlLogo"  class="form-control"  name="urlLogo"  placeholder="url logo school" >
                  </div>
                </div>



                <div class="d-flex justify-content-center mt-4">
                  <button type="submit" class="btn btn-primary ml-4" style="width: 150px;">Suivant</button>
                </div>

              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
